dane
scrapper/secret.py
scrapper/geckodriver
scrapper/geckodriver.log
scrapper/gisaid_data
results.csv
*.pyc
fasta_to_pango/logs/minimap2_sam.log
.Rproj.user
.Rhistory
.Rapp.history
.RData
**.sqlite
fasta_to_clades/input.fasta
fasta_to_clades/output.tsv
fasta_to_mutation/tmp.blast.xml
gg_objects.rda
scripts/config.py
