selenium==3.141.0
biotite
snakemake
pandas
lxml
tqdm
bs4
unidecode
overpy
pysam
git+https://github.com/cov-lineages/pangolin
git+https://github.com/cov-lineages/lineages
git+https://github.com/cov-lineages/pangoLEARN
git+https://github.com/cov-lineages/scorpio.git
git+https://github.com/cov-lineages/constellations.git
git+https://github.com/cov-lineages/pango-designation.git
