<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="MI2DataLab">
    <title>Monitor of SARS-CoV-2</title>

    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE">

    <link href='../fonts/font-droid.css' rel='stylesheet' type='text/css'>
    <!-- Add custom CSS here -->
    <link href="../css/lavish-bootstrap-sp.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.2"></script>
    <style>
       p {font-size:large}

       .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9,
        .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6,
         .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3,
          .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12,
           .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9,
            .col-lg-10, .col-lg-11, .col-lg-12 {
          padding: 0 7.5px;
      }
      span.accession {
        cursor: pointer;
	padding: 3px;
      }
      span.accession:hover {
        text-decoration: underline;
      }
      span.accession.expanded {
        display: block;
        padding: 10px;
	text-decoration: none;
	cursor: unset;
      }
    </style>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-5650686-2', 'auto');
      ga('send', 'pageview');
    </script>
  </head>
  <body>
    <div id="app">
      <nav class="navbar navbar-inverse" role="navigation" style="padding-bottom:0px; border-color:#4a423d!important; background-color:#4a423d!important;">
        <div class="container" style="padding-bottom:5px; padding-top:5px; ">
          <div class="navbar-header">
            <a class="navbar-brand" href="https://monitor.mi2.ai/">{{ i18n('site_title') }}</a>
            <div class="navbar-brand">
              <a class="navbar-link" href="javascript:void(0)" v-for="l in langs" :key="l" @click="setLang(l)" style="margin: 0 5px">{{ l.toUpperCase() }}</a>
            </div>
          </div>
        </div><!-- /.container -->
      </nav>
      <div class="section" id="Mapa">
        <div class="container">

          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              {{ i18n('site_date') }}:
              <select id="select-date" style="margin-right: 2em;margin-left: 0.5em;" @change="updateDate">
                <option v-for="o in dateOptions" :key="o.value" :value="o.value" :selected="o.value == selectedDate">{{ o.name }}</option>
              </select>
            </div>
          </div>

          <hr>

	  
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <b>Click on region name to show/hide accession IDs. Details will be displayed when you click on accession ID.</b>
            </div>
          </div>

          <div class="row" v-for="c in countryOptions" :key="c.value">
            <div class="col-lg-4 col-md-4 col-sm-12">
              <p><a href="javascript:void(0)" @click="loadIds(c.value)">{{ c.name }}</a></p>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12" style="max-height: 600px;overflow-y: auto;">
              <span v-for="aid in (accessionIds[c.value] || [])" :key="aid" class="accession" :class="{expanded: aid == selectedId}" @click="selectedId = aid">{{ aid }}
                <div v-if="aid == selectedId">
                  <span v-if="!selectedData">Loading...</span>
                  <div v-else>
                    <b>Originating lab:</b> {{ selectedData.covv_orig_lab }}<br>
                    <b>Submitting lab:</b> {{ selectedData.covv_subm_lab }}<br>
                    <b>Authors:</b> {{ selectedData.covv_authors }}
                  </div>
			          </div>
              </span>
            </div>
          </div>


        </div><!-- /.container -->
      </div><!-- /.section -->

      <div class="section-colored" id="Footer">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <center>
                <p>
                  <br/>
                  {{ i18n('site_foot_1') }}
                  <a href="https://github.com/MI2DataLab/crs19-monitor">MI2 DataLab</a>.
                  {{ i18n('site_foot_2') }}
                  <a href="https://www.gisaid.org/">GISAID {{ placeholders.DATE }}</a>.
                </p>
              </center>
            </div>
          </div><!-- /.row -->
        </div><!-- /.container -->
      </div><!-- /.section -->
    </div>

     <!-- JavaScript -->
    <script  src="../../js/jquery-1.10.2.js"></script>
    <script  src="../../js/bootstrap.js"></script>
  </body>
</html>
<script>
  const path = window.location.pathname
  const parts = path.split('/').reverse().filter(p => p.length > 0)
  const selected_date = parts[1]

  const obj = {
    el: '#app',
    data: {
      placeholders: {},
      dateOptions: [],
      countryOptions: [],
      rawI18n: {},
      lang: 'pl',
      editTime: 0,
      selectedDate: selected_date,
      accessionIds: {},
      accessionIdsData: {},
      selectedId: null
    },
    created () {
      this.$http.get('i18n.json').then(response => {
        this.rawI18n = response.body
      })
      this.$http.get('../dates.json').then(response => {
        this.dateOptions = response.body.map(r => ({ name: r, value: r }))
      })
      this.$http.get('./regions.json').then(response => {
        this.countryOptions = response.body.map(r => ({ name: r.name, value: r.dir }))
      })
      window.onpopstate = (event) => {
          this.lang = event.state.lang || 'pl'
      }
      let lang = new URLSearchParams(window.location.search).get('lang')
      if (lang) {
        this.lang = lang
      }
    },
    watch: {
      lang: 'updateEditTime',
      langs: 'updateEditTime',
      rawI18n: 'updateEditTime',
      selectedId () {
        this.loadIdData(this.selectedId)
      }
    },
    computed: {
      i18n () {
        return (tag) => {
          return (this.rawI18n[this.lang] || {})[tag] || tag
        }
      },
      langs () {
        return Object.keys(this.rawI18n)
      },
      selectedData () {
        return this.selectedId ? this.accessionIdsData[this.selectedId] : null
      }
    },
    methods: {
      setLang (l) {
        this.lang = l
        history.pushState({ lang: this.lang }, "lang=" + this.lang, '?lang=' + this.lang)
      },
      updateEditTime () {
        this.editTime = Date.now()
      },
      updateDate (e) {
        window.location.pathname = window.location.pathname.replace(selected_date, e.target.value)
      },
      loadIds (country) {
        if (this.accessionIds[country]) {
            this.accessionIds[country] = null
        } else {
          this.$http.get(country + '/accession_ids.json').then(response => {
            Vue.set(this.accessionIds, country,response.body)
          })
        }
      },
      loadIdData (accession_id) {
        if (this.accessionIdsData[accession_id]) return
        else {
          this.$http.get('https://epicov.org/acknowledgement/' + accession_id.substr(-4, 2) + '/' + accession_id.substr(-2, 2) + '/' + accession_id + '.json').then(response => {
            Vue.set(this.accessionIdsData, accession_id, response.body)
          })
        }
      }
    }
  }
  let vm = null
  document.addEventListener('DOMContentLoaded', () => {
    vm = new Vue(obj)
  })
</script>
